{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jianheng Zhou and Huayi Li Project 3</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
	  <style>
	  .border1{border-stlyle:soild;border-color: red;}
		  .r{position:fixed; bottom:15px;}
  		</style>
</head>
  <body>
	  <div class="container-fluid">
		  <!--第一行,页头-->
	  	<div class="row" align="center">
	
		<div class="col-lg-6 col-lg-offset-3">
		  <div class="jumbotron">
 	 		<h1 align="center" style="font-family:Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';font-size:400%;color: #000000">Mysong</h1>
			  <h3 align="center">Create music together</h3>
		 </div> 
			</div>
			</div>
		  <!--第二行,yindaolan-->
			<div class="row ">
				
				<div class="col-lg-6 col-lg-offset-3">
			<nav class="navbar navbar-default">
    	<div class="navbar-header">
      	<a class="navbar-brand" href="#">
        <p> Weekly Rank </p>
			
			
 </a>  
    
  </div>
</nav>
					</div>
			</div>
		  <div class="row">
			  <div class="col-lg-6 col-lg-offset-3">
		  <div class="panel-body" style="height: 700px; overflow-y:scroll">
		  <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
		  <span>
		  <!--第三行-->
		  
		  <div class="row" style="height: 50%">
			  <div class="col-lg-12 ">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object" src="{% static 'draw/1.PNG' %}" width="100" height="100">
					
   				 </a>
 				 </div>
  				<div class="media-body">
					
					<a href="#">
   				 <p class="bg-danger" style="font-style:italic;font-size: 200%">Never let this go</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@Overwatch</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@Apex</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@PUBG</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@H1Z1</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			
		  </div>
		  
		  <!--第四行-->
		   <div class="row">
			  <div class="col-lg-12">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object border1" src="{% static 'draw/4.PNG' %}" width="50" height="50">
   				 </a>
 				 </div>
  				<div class="media-body">
					<a href="#">
   				 <p class="bg-info" style="font-style:italic;font-size: 200%">Hold it</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@Link</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@Zelta</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@Ganon</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@Mipha</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			  </div>
		  
		  <!--第五行-->
		   <div class="row">
			  <div class="col-lg-12">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object border1" src="{% static 'draw/3.PNG' %}" width="50" height="50">
   				 </a>
 				 </div>
  				<div class="media-body">
					<a href="#">
   				 <p class="bg-info" style="font-style:italic;font-size: 200%">Let it goooo</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@Elsa</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@Anna</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@Kristoff</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@Olaf</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			  </div>
		  
		  <div class="row">
			  <div class="col-lg-12">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object border1" src="{% static 'draw/4.PNG' %}" width="50" height="50">
   				 </a>
 				 </div>
  				<div class="media-body">
					<a href="#">
   				 <p class="bg-info" style="font-style:italic;font-size: 200%">Copy and paste</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistWho</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@ArtistW</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistH</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistO</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			  </div>
		  
		   <div class="row">
			  <div class="col-lg-12 ">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object border1" src="{% static 'draw/5.PNG' %}" width="50" height="50">
   				 </a>
 				 </div>
  				<div class="media-body">
					<a href="#">
   				 <p class="bg-info" style="font-style:italic;font-size: 200%">Copy and paste</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistWho</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@ArtistW</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistH</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistO</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			  </div>
		  
		   <div class="row">
			  <div class="col-lg-12">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object border1" src="{% static 'draw/6.PNG' %}" width="50" height="50">
   				 </a>
 				 </div>
  				<div class="media-body">
					<a href="#">
   				 <p class="bg-info" style="font-style:italic;font-size: 200%">Copy and paste</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistWho</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@ArtistW</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistH</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistO</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			  </div>
		  
		   <div class="row">
			  <div class="col-lg-12">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object border1" src="{% static 'draw/7.PNG' %}" width="50" height="50">
   				 </a>
 				 </div>
  				<div class="media-body">
					<a href="#">
   				 <p class="bg-info" style="font-style:italic;font-size: 200%">Copy and paste</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistWho</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@ArtistW</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistH</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistO</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			  </div>
		  
		   <div class="row">
			  <div class="col-lg-12">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object border1" src="{% static 'draw/8.PNG' %}" width="50" height="50">
   				 </a>
 				 </div>
  				<div class="media-body">
					<a href="#">
   				 <p class="bg-info" style="font-style:italic;font-size: 200%">Copy and paste</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistWho</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@ArtistW</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistH</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistO</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			  </div>
		  
		   <div class="row">
			  <div class="col-lg-12">
			  <div class="alert">
				  <div class="media">
  				<div class="media-left">
    			<a href="#">
      			<img class="media-object border1" src="{% static 'draw/9.PNG' %}" width="50" height="50">
   				 </a>
 				 </div>
  				<div class="media-body">
					<a href="#">
   				 <p class="bg-info" style="font-style:italic;font-size: 200%">Copy and paste</p>
    			</a>
					<h4>creators:</h4>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistWho</p></a>
					</div >
					<div class="col-lg-2">
					<a href="#"><p>@ArtistW</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistH</p></a>
					</div>
					<div class="col-lg-2">
					<a href="#"><p>@ArtistO</p></a>
					</div>
 				 </div>
					</div>
				  </div>
		  </div>
			  </div>
		  </span>
		  </div>
		  </div>
				  </div>
			  </div>
		  <div class="row">
			<div class="col-lg-1"><h3></h3></div>  
		  </div>
      <div class="row">
			<div class="col-lg-1"><h3></h3></div>  
		  </div><div class="row">
			<div class="col-lg-1"><h3></h3></div>  
		  </div>
		  
		  
		  <div class="row" >
			  <div class="col-lg-2 col-lg-offset-4" >
    <div class="r" >
        <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;View &nbsp;&nbsp;&nbsp;&nbsp;    "  class="btn btn-info btn-lg" >
    </div>
          </div>
				<div class="col-xs-2 col-xs-offset-7" >
        <div class="r" >
      <input type="submit" value="Participate!"  class="btn btn-info btn-lg" >
          </div>
			  </div>
			  </div>
				  </div>
		  </div>
			
	  
    

	  
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  </body>
</html>