{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>Mysong Creaetion-Lyric</title>

<!--    <link rel="stylesheet" href="{% static 'draw/vendor/bootstrap/css/stylebtn.css' %}"> -->
   <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
   <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'draw/vendor/bootstrap/css/easydialog.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/zzsc-demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/normalize1.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'draw/vendor/bootstrap/css/style1.css' %}" />

 <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/inputstyle.css' %}">
</head>

<body bgcolor="#282E33">
<!--  <div class="controls">
	<label class="controls__label">little game!</label>
	<input class="controls__slider" data-slider type="range" min="100" max="500" step="1" value="300" />
</div> -->
 <div class="row" id="period1" style="display:none;">
    <img src="{% static 'draw/period1.png' %}" >
  </div>
  <div class="row" id="lyric1" style="display:none;">
    <input type="text" placeholder="enter your lyric..."/>
  </div> 
  
  <div class="row" id="period2" style="display:none;">
    <img src="{% static 'draw/period2.png' %}" >
  </div>
  <div class="row" id="lyric2" style="display:none;">
    <input type="text" placeholder="enter your lyric..."/>
  </div> 
  <div class="row" id="period3" style="display:none;">
    <img src="{% static 'draw/period3.png' %}" >
  </div>
  <div class="row" id="lyric3" style="display:none;">
    <input type="text" placeholder="enter your lyric..."/>
  </div> 
  <div class="row" id="period4" style="display:none;">
    <img src="{% static 'draw/period4.png' %}" >
  </div>
  <div class="row" id="lyric4" style="display:none;">
    <input type="text" placeholder="enter your lyric..."/>
  </div> 
  <div class="row" id="wait"><h1 class="second_neon">Wait&nbsp;for&nbsp;someone's&nbsp;play...</h1>

  </div>
   
  

 
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-3"> 
     <button type="button" class="btn btn-success" id="1">Save</button>

    </div>
    <div class="col-md-4">
    </div>
   
  </div>
  
  


  

<!-- <script type="text/javascript" src="{% static 'draw/vendor/bootstrap/js/index2.js' %}"></script> -->
  <script src="{% static 'draw/vendor/bootstrap/js/easydialog.min.js' %}"></script>
  <script src="{% static 'draw/vendor/bootstrap/js/input.js' %}"></script>
  <script type="text/javascript" src="{% static 'draw/vendor/bootstrap/js/neon_text.js' %}"></script>

  <script>
    var a=1;
//     document.querySelector('body').setAttribute('style', 'background-color:#fff')
    $(document).ready(function(){
		$('.first_neon').neonText();
		$('.second_neon').neonText({
			textColor:'white',
			textSize:'40pt',
			neonHighlight:'white',
			neonHighlightColor:'#008000',
			neonHighlightHover:'#FFFF00',
			neonFontHover:'white'
		});
		$('.third_neon').neonText({
			textColor:'white',
			textSize:'40pt',
			neonHighlight:'white',
			neonHighlightColor:'#00FFFF',
			neonHighlightHover:'#7FFF00',
			neonFontHover:'white'
		});
	});
     function sleep(ms){
  return new Promise((resolve)=>setTimeout(resolve,ms));
}
    async  function Save(){
    var temple=await sleep(3000);
      easyDialog.open({
  container : {
    content : 'Succeed!'
  },
  autoClose : 1500
}); 
   return temple;
    }
     async  function Send(){
    var temple=await sleep(4500);
    
          
          socket.send(url);
      
   return temple;
    }   

    
    $('#1').click(function(){
      if(a==1){
        alert("Please wait for someone's play first~");
      }else{
       if(confirm("You want to upload your lyric?"))
     {
       easyDialog.open({
  container : {
    content : 'Saving and uploading...'
  },
  autoClose : 3000
});
       Save();
      Send();
       return true;
     }else{
	   return false;
     }
    }});
    var url = window.location.href;
    var socket = new WebSocket(
        'wss://p3-websockets-zjhzjh1998-841899579420604.codeanyapp.com/ws/draw');
  socket.onmessage=function(receivedMessage){
//     console.log(receivedMessag);
    var Rmessage=receivedMessage;
     if( Rmessage.data== 'http://p3-websockets-zjhzjh1998-841899579420604.codeanyapp.com/draw/play'){
       a=0;
        easyDialog.open({
  container : {
    content : "Reveived someone's play!" 
  },
  autoClose : 2000
});
      $("#period1,#lyric1,#period2,#lyric2,#period3,#lyric3,#period4,#lyric4").show();
      
       $("#wait").hide();
    }
  };
   socket.onopen = function(event)
      {
      };
        
    // notify console if socket closes unexpectedly
    socket.onclose = function(e) 
      {
      console.error('Chat socket closed unexpectedly');
      };
  </script>